.filter-btn {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
}

.next-btn {
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  margin-top: 20px;
}

.next-btn:disabled {
  background-color: gray;
  opacity: 0.4;
}